<html>
	<head>
		<title>Marco's Blog</title>
	</head>
	<body>
			<div>
				<h1><a href="/"> Marco's Blog</a></h1>
			</div>

			<div>
				<p>published: 23.05.2019,17:50</p>
				<h2><a href="/">Mi primer post</a></h2>
				<p>Como receta de cocina, segui los pasos necesarios para realizar este , mi primer post, utilizando el framework de Django</p>
			</div>

			<div>
				<p>published:23.05.2019, 17:51</p>
				<h3> <a href="/"> Mi segundo post </a> </h3>
				<p> Y sin esperar mucho agregue un segundo post para dar la apariencia de mayor contenido a mi blog.</p>
			</div>
	</body>
</html>

